[defaults]
remote_user = root
retry_files_enabled = False
callback_whitelist = profile_tasks

gathering = smart
fact_caching = jsonfile
fact_caching_connection = fact_cache

[privilege_escalation]
become = no
become_method = sudo

[ssh_connection]
ssh_args = -oBatchMode=yes -oUserKnownHostsFile=/dev/null -oStrictHostKeyChecking=no
pipelining = True
